.container-task {
    background-color: #E4DBD4;
    margin-top: 12px;
    padding: 8px 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    font-family: "Pangolin", cursive;
    font-size: 1rem;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.1);
}